DirectoryIndex login.php

# denies any access to subdirectories
# uncomment when everything's done
# Options -Indexes
# IndexIgnore *

RewriteEngine on
RewriteBase /MeetMe/

# redirects any non file or non directory
# to error404.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ error404.php [R,NC,L]

# prevents user to access the '/include' directory
#<FilesMatch "(/include|/css|/Images|/lib|/uploads)(/?|/.*)">
#    Order allow,deny
#    Deny from all
#</FilesMatch>


ErrorDocument 403 http://localhost/MeetMe/error404.php 
ErrorDocument 404 http://localhost/MeetMe/error404.php 