#sets default directory to login.php
DirectoryIndex login.php

RewriteEngine on
RewriteBase /MeetMe/


# Prevents access to extension.php (the original extension)
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

# Allows file name but without redirection
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

# Redirects any non file or non directory
# to error404
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ error404 [R,NC,L]


# Redirects error codes to appointed webpage
ErrorDocument 403 http://localhost/MeetMe/error404
ErrorDocument 404 http://localhost/MeetMe/error404