body {
  background-color: lightblue;
}

.content {
  margin-left: 10px;
  margin-right: 10px;
  color: #080808;
}

/* th,
td {
  padding: 15px;
} */

hr.redbar {
  border: 10px solid red;
  border-radius: 5px;
}
table.userprofile {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table.userprofile td,
th {
  text-align: left;
  padding: 8px;
}

.linktobutton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}

form.editprofileform ul {
    width: 40%;
}

form.editprofileform ul li {
    width: 49%;
    display: inline-block;
}

form.editprofileform ul li > * {
    width: 100%;
}

.loginboxtext{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: solid thin #aaa;
}

.logobar{
    display: block;
    width: 100%;
    background-color: black;
    height: 100px;
    position: sticky;
    top: 0;
}

.logo{
    width: auto;
    height: 100px;
    position: sticky;
    top: 0;
}

.loginpagebutton{
    padding: 15px;
    width: 100px;
    color: white;
    background-color: #e12744;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.loginpagebutton:hover{
    background-color: #ac182f;
}

.logincontainerbox{
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logincontainerbutton{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.loginimagebackground{
    width: 100%;
    object-fit: cover;
}

.loginsignup {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}

div.loginsignup > a{
    color: white;
    font-weight: bold;
}