.content {
  padding-left: 10px;
  padding-right: 10px;
  color: #080808;
}

table.upcomingbooking table,
td,
th {
  font-family: "Open Sans", sans-serif;
  border: 2px solid black;
  border-collapse: collapse;
  padding: 15px;
  width: 10%;
}

hr.redbar {
  border-top: 5px solid #e12744;
}

table.userprofile {
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  width: 50%;
}

table.userprofile td,
th {
  text-align: center;
  padding: 8px;
}

table.userprofile th {
  background: lightgrey;
}

.linktobutton {
  padding: 7px;
  width: 150px;
  color: white;
  background-color: #e12744;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border-radius: 8px;
}

.containerprofile {
  text-align: center;
}

.linktobutton:hover {
  background-color: #ac182f;
  color: white;
}

.loginboxtext {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: solid thin #aaa;
  z-index: 1;
}

.logobar {
  display: block;
  width: 100%;
  background-color: black;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  width: auto;
  height: 100px;
  position: sticky;
  top: 0;
}

.loginpagebutton {
  padding: 8px;
  width: 150px;
  color: white;
  background-color: #e12744;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.loginpagebutton:hover {
  background-color: #ac182f;
}

.logincontainerbox {
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logincontainerbutton {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.imagebackground {
  width: 100%;
  object-fit: cover;
}

.loginsignup {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

.logintextbar {
  position: absolute;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  top: 80px;
  left: 290px;
  z-index: 1;
}

div.loginsignup > a {
  color: white;
  font-weight: bold;
}

.signupflexcontainer {
  display: flex;
  flex-direction: column;
}

.signuptextbar {
  position: absolute;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  top: 80px;
  left: 290px;
}

.signuppagebutton {
  padding: 15px;
  width: 100px;
  color: white;
  background-color: #e12744;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.signuppagebutton:hover {
  background-color: #ac182f;
}

.signuptextbox {
  height: 30px;
  border-radius: 5px;
  width: 500px;
  padding: 4px;
  border: solid thin #aaa;
}

.signuptext {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.signupcontainerbox {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navpaddingright {
  padding-right: 15px;
}

.uploadexceltext {
  font-family: "Open Sans", sans-serif;
}

.uploadfilecontainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/*
>> Trying to style change on Upload Excel page on "Choose File" button
input[type=file]::file-selector-button {
  padding: 6px;
  width: 100px;
  color: white;
  background-color: #e12744;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border-radius: 8px;
}

input[type=file]::file-selector-button:hover {
  background-color: #ac182f;
}
*/

.editprofiletext {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.editprofilebox {
  height: 30px;
  border-radius: 5px;
  width: 500px;
  padding: 4px;
  border: solid thin rgb(133, 133, 133);
  box-shadow: 5px 5px 6px #aaaaaa;
}

.myprofilebox {
  height: 30px;
  border-radius: 5px;
  width: 500px;
  padding: 4px;
  border: solid thin rgb(226, 226, 226);
  box-shadow: 5px 5px 6px #aaaaaa;
}

#mynavbar :hover {
  color: #e12744;
}

#mynavbar #appointment {
  transition: all 0.3s ease-in-out;
}

#mynavbar #analytics {
  transition: all 0.3s ease-in-out;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  box-shadow: 2px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#sub-dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  margin-left: 164px;
  margin-top: -26px;
}

#sub-dropdown-menu a,
.dropdown-menu a {
  color: black;
  font-size: 16px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  transition: all 0.5s ease-in-out;
}

.dropdown .dropdown-menu #hover {
  background-color: #080808;
}

#sub-dropdown:hover #sub-dropdown-menu {
  display: block;
}

.containerbooking {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.commentbox {
  height: 200px;
  width: 50%;
}

.successbookingtextcenter{
  text-align: center;
  padding-top: 200px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.calendar {
  display: flex;
  flex-flow: column;
}
.calendar .header .month-year {
  font-size: 20px;
  font-weight: bold;
  color: #636e73;
  padding: 20px 0;
}
.calendar .days {
  display: flex;
  flex-flow: wrap;
}
.calendar .days .day_name {
  width: calc(100% / 7);
  border-right: 1px solid #2c7aca;
  padding: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #818589;
  color: #fff;
  background-color: #448cd6;
}
.calendar .days .day_name:nth-child(7) {
  border: none;
}
.calendar .days .day_num {
  display: flex;
  flex-flow: column;
  width: calc(100% / 7);
  border-right: 1px solid #e6e9ea;
  border-bottom: 1px solid #e6e9ea;
  padding: 15px;
  font-weight: bold;
  color: #7c878d;
  cursor: pointer;
  min-height: 100px;
}
.calendar .days .day_num span {
  display: inline-flex;
  width: 30px;
  font-size: 14px;
}
.calendar .days .day_num .event {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: #f7c30d;
  color: #fff;
  word-wrap: break-word;
}
.calendar .days .day_num .event.green {
  background-color: #51ce57;
}
.calendar .days .day_num .event.blue {
  background-color: #518fce;
}
.calendar .days .day_num .event.red {
  background-color: #ce5151;
}
.calendar .days .day_num:nth-child(7n + 1) {
  border-left: 1px solid #e6e9ea;
}
.calendar .days .day_num:hover {
  background-color: #fdfdfd;
}
.calendar .days .day_num.ignore {
  background-color: #fdfdfd;
  color: #ced2d4;
  cursor: inherit;
}
.calendar .days .day_num.selected {
  background-color: #f1f2f3;
  cursor: inherit;
}
